
jupyter==1.0.0
matplotlib==3.6.2
mmcv-full==1.7.0
mmedit==0.16.0
numpy==1.23.4
opencv-python==4.6.0.66
Pillow==9.3.0
tensorboard==2.11.0
tinycss2==1.2.1
torch==1.13.0
torchvision==0.14.0
tqdm==4.64.1
